body {
    background: linear-gradient(35deg, #64B6AC, #3C6B7C 100%);
}

section.main {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    height: 100vh;
}

.first-info {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-url,
.item-email {
    margin-bottom: 20px;
    width: 30vw;
    border-style: solid;
    font-size: 23px;
    padding: 6px;
    text-align: center;
    border-width: 2px;
    border-radius: 28px;
    border-color: #18db2f;
    box-shadow: 1px 0px 15px 0px rgba(0, 232, 35, .75);
    background-color: #cbfad6;
    font-family: monospace;
    font-style: none;
    font-weight: bold;
}

.item-url:focus,
.item-email:focus {
    outline: none;
}

.iframe-box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    border: 2px solid black;
}

.list-box {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.buttons {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.del_btn {
    font-size: 18px;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 3px;
    border-style: solid;
    color: white;
    text-align: center;
    border-width: 2px;
    border-radius: 28px;
    border-color: #db1818;
    box-shadow: 1px 0px 15px 0px rgba(232, 0, 0, 0.75);
    background-color: #a021215d;
    font-family: monospace;
    font-style: none;
    font-weight: bold;
    height: 5vh;
    width: 10vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.del_btn:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    border-color: #fd3b3b;
    border-width: 3px;
}

.msg {
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}


table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    color: #FFFFFF;
}

tr {
    border-bottom: 1px solid #000000;
}

th,
td {
    text-align: center;
    font-size: 26px;
    border: none;
    height: 30px;
    padding: 7px;
}

.save,
.send {
    border-style: solid;
    font-size: 24px;
    padding: 1px;
    color: white;
    text-align: center;
    border-width: 2px;
    border-radius: 28px;
    border-color: #18db2f;
    box-shadow: 1px 0px 15px 0px rgba(0, 232, 35, .75);
    background-color: #21a0565d;
    font-family: monospace;
    font-style: none;
    font-weight: bold;
    height: 5vh;
    width: 10vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.save:hover,
.send:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    border-color: #3afd4f;
    border-width: 4px;
}
